.main_article_wrap {
  & > section {
    width: 100vw;
    height: 100vh;

    background-size: cover;
    background-position: center;
  }
  & .main_section1 {
    background-image: url("/public/main_background_img/setction1.png");
    & h1 {
      counter-reset: #fff;
    }
  }
  & .main_section2 {
    background-image: url("/public/main_background_img/setction2.png");
  }
  & .main_section3 {
    background-image: url("/public/main_background_img/setction3.png");
  }
  & .main_section4 {
    background-image: url("/public/main_background_img/setction4.png");
  }
  & .main_section5 {
    background-image: url("/public/main_background_img/setction5.png");
  }
}
