@keyframes tracking-in-expand-fwd-bottom {
  0% {
    // letter-spacing: -0.5em;
    transform: translateZ(-700px) translateY(500px);
    opacity: 0;
  }
  40% {
    opacity: 0.3;
  }
  100% {
    transform: translateZ(0) translateY(0);
    opacity: 1;
  }
}

.tracking-in-expand-fwd-bottom {
  animation: tracking-in-expand-fwd-bottom 0.6s
    cubic-bezier(0.215, 0.61, 0.355, 1) both;
}

@keyframes focus-in-expand {
  0% {
    letter-spacing: -0.5em;
    -webkit-filter: blur(12px);
    filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0);
    filter: blur(0);
    opacity: 1;
  }
}

.focus-in-expand {
  animation: focus-in-expand 0.8s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@keyframes line-ani {
  0% {
    width: 0;
  }
  100% {
    width: 200%;
  }
}

@keyframes slide-in-left {
  0% {
    transform: translateX(0px);
    opacity: 1;
  }
  49.9999% {
    transform: translateX(100%);
    opacity: 0;
  }
  50% {
    transform: translateX(-100%);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}

.slide-in-left {
  animation: slide-in-left 0.8s cubic-bezier(0.55, 0.085, 0.68, 0.053) both;
}
@keyframes text-focus-in {
  0% {
    filter: blur(6px);
    opacity: 0;
  }
  100% {
    filter: blur(0px);
    opacity: 1;
  }
}

.text-focus-in {
  animation: text-focus-in 0.6s cubic-bezier(0.55, 0.085, 0.68, 0.53) 0.2s both;
}

@keyframes text-focus-in-left {
  0% {
    filter: blur(3px);
    transform: translate(-10px, -10px);
    opacity: 0;
  }
  100% {
    filter: blur(0px);
    transform: translate(0px, 0px);
    opacity: 1;
  }
}

.text-focus-in-left {
  animation: text-focus-in-left 0.8s cubic-bezier(0.55, 0.085, 0.68, 0.53) 0.4s
    both;
}

@keyframes flip-in-hor-top {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.flip-in-hor-top {
  animation: flip-in-hor-top 1.45s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
}
